extend layout
block headerTitle
  h1 #{title}
block content
  a(href="javascript:newData()") New User
  br
  br
  table(class="table table-striped",id="ResultTableResponsive",border="1")
    thead
      tr(class="TrHeader") 
        th UserName
        th Full Name
        th Email
        th(style="width:1%")
    each user in data
      tr(class="resultRow") 
        td #{user.UserName}
        td #{user.FullName}
        td #{user.Email}
        td 
          div(class="dropdown")
              button(class="btn btn-danger dropdown-toggle btn-xs",type="button",id="dropdownMenu1",data-toggle="dropdown",aria-haspopup="true",aria-expanded="true") Actions
                span(class="caret")
              ul(class="dropdown-menu pull-right",aria-labelledby="dropdownMenu1")
                li
                  a(id="aEdit",onclick="updateData(this); return false;",href="#",data-id=user.UserName) Edit
                li
                  a(id="aDelete",onclick="confirmDelete(this); return false;",href="#",data-id=user.UserName) Delete
  include ./customerdataentry.jade
  include ./surveydataentry.jade
  include ./reservationdataentry.jade
  include ./interactiondataentry.jade